/*El css está bien linkeado*/

h1 {

	color: red;
}



table, th, td {
  border:1px solid black;
  padding: 15px;
  margin: 15px;
}


.cont_botones_app {
  background-color: blue;
}



.cont_botones_tabla {

}


input {
  width: 50px;
}